* {
    box-sizing: border-box;
}
body {
    background-color: mistyrose;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 48px;
    font-family: 'Roboto', Helvetica, sans-serif;
    text-align: center;
}

.main {
    width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.board{
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    
    
}
.tiles{
    text-align: center;
    font-size: 72px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tiles:nth-child(4), .tiles:nth-child(5), .tiles:nth-child(6){
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.tiles:nth-child(2), .tiles:nth-child(8), .tiles:nth-child(5) {
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.header{
    text-align: center;
}

.start{
    display: block;
    width: 125px;
    font-size: 18px;
    color: #F7F7F7;
    background-color: rgb(194, 173, 170);
    border: 2px solid rgb(99, 69, 69);
    border-radius: 8px;
    
}

.header-btn {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 960px;
    margin: 0 auto;
}

.start:hover {
    background-color: rgb(174, 153, 150);
    scale: 1.05;
}

.start:active {
    background-color: rgb(124, 103, 100);
    scale: 0.95;
}


 .checkbox-container{
     display: flex;
     justify-content: center;
     align-items: center;
 }

 span {
     font-size: 20px;
     
 }

 footer {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 350px;
     margin-top: auto;
     align-self: center;
     gap: 8px;
 }

footer p {
    font-size: 24px;
    font-family: "Roboto", sans-serif;

}
 footer img{
     width: 20px;
     height: 20px;
     margin-top: 5px;
 }

 footer img:hover{
     scale: 1.1;
 }